.body-container {
    background-color: rgba(250,250,250,0.7);
    background-image: url('../IMAGE/BACKGROUND/01.jpg');
    background-repeat: repeat-y;
    width: 100%;
    height: 100%;
    min-height: 170px;
    padding-bottom: 12%;
    padding-top: 10%;
}

.blank-container {
    background-image: url('../IMAGE/BACKGROUND/_BLANK.jpg');
}

.logo {
    color: whitesmoke;
    text-align: center;
    
    font-weight: bold;
    font-size: 90px;
    
    line-height: 128px;
    text-shadow: 0px -2px 0px rgba(0,0,0,0.6);
    text-shadow: 0px 0px 20px rgba(0,0,0,0.7);
}

.shadow-cool{
    color: darkgrey;
    text-align: center;
    
    font-weight: bold;
    font-size: 90px;
    
    line-height: 128px;
    text-shadow: 0px -3px 0px rgba(0,0,0,0.6);
}

.search-bar {
    width: 35%;
    padding-left: 10%;
    padding-right: 10%;
}

.width-80 {
    width: 80%;
}

.half-width {
    width: 50%;
}

.center-horizontally {
    margin: auto;
}

.center-vertically {
    position: relative;
    padding-top: 32%;
    margin: auto;
}


.half-transparency {
    opacity: 0.5;
}

.navbar-focus:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(150,150,150,0.1);
}

.little-photo {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    border-style: solid;
    border-color: lightblue;
    border-width:1px;
}

.copertina {
    border-radius: 10px;
    border-style: solid;
    border-color: lightblue;
    border-width:1px;
}

.little-copertina {
    width: 145px;
    height: 160px;
}

.big-copertina {
    max-height: 550px;
    max-width: 750px;
}

.button {
    min-height: 20px;
    padding: 9px;
    margin-bottom: 20px;
    background-color: rgb(245, 245, 245);
    border: 2px solid rgb(227, 227, 227);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.button-hover:hover {
    background-color: rgb(58, 135, 173);
    border-color: rgb(78, 155, 193);
    color: whitesmoke;
}

.modal-alert {
    position: fixed;
    top: 18%;
    left: 40%;
    width: 300px;
    z-index: 1050;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    *border: 1px solid #999;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
            box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
       -moz-background-clip: padding-box;
            background-clip: padding-box;
}

.text-area {
    min-height: 200px;
    max-height: 200px;
    
    min-width: 206px;
    max-width: 206px;
    
}